In [3]:
import gmaps
import numpy as np
import pandas as pd
import requests
import json
from time import sleep
import os
from geopy.geocoders import Nominatim

In [2]:
pip install geopy

Collecting geopy
  Downloading https://files.pythonhosted.org/packages/80/93/d384479da0ead712bdaf697a8399c13a9a89bd856ada5a27d462fb45e47b/geopy-1.20.0-py2.py3-none-any.whl (100kB)
Collecting geographiclib<2,>=1.49 (from geopy)
  Downloading https://files.pythonhosted.org/packages/5b/ac/4f348828091490d77899bc74e92238e2b55c59392f21948f296e94e50e2b/geographiclib-1.49.tar.gz
Building wheels for collected packages: geographiclib
  Building wheel for geographiclib (setup.py): started
  Building wheel for geographiclib (setup.py): finished with status 'done'
  Stored in directory: C:\Users\Nader\AppData\Local\pip\Cache\wheels\99\45\d1\14954797e2a976083182c2e7da9b4e924509e59b6e5c661061
Successfully built geographiclib
Installing collected packages: geographiclib, geopy
Successfully installed geographiclib-1.49 geopy-1.20.0
Note: you may need to restart the kernel to use updated packages.

In [4]:
dflisting = pd.read_csv("../ShareEconomyEnlightenment/Resources/Airbnb_Texas_Rentals.csv")
# dflisting.head(1)

In [5]:
dflisting.rename(columns={'Unnamed: 0': 'id'}, inplace=True)
# dflisting.columns

In [6]:
# dflisting[['Unnamed: ']] = "id"
dfLL = dflisting[['id','city','latitude','longitude']]
# dflisting
# dflisting.columns

In [7]:
geolocator = Nominatim(user_agent="SharedEconomyComparitor")
location = geolocator.reverse("29.50308,-98.447688")
print(location.address)

565, Woodcrest Drive, Oak Park, San Antonio, Bexar County, Texas, 78209, USA

In [15]:
# sleep(0.5)

In [8]:
listAddress = [['id','City','Address','lat','lon']]

for index, row in dfLL.head(5).iterrows():
# for city in cities:
    try:
        latLon = str(row.latitude) +',' + str(row.longitude)
        location = geolocator.reverse(latLon)
#     print(location)
        addList = [row.id, row.city, location[0], row.latitude, row.longitude]
#         print (addList)
        listAddress.append(addList)
        sleep(0.5)
    except:
        print("An exception occurred for " + row.city)
        print(index)
# listAddress

In [9]:
df = pd.DataFrame(listAddress,columns=['id','City','Address', 'lat','lon'])
df = df[df.City != 'City']
df

,id,City,Address,lat,lon
1,1,Humble,"20521, Kenswick Drive, Bordersville, Harris Co...",30.0201,-95.294
2,2,San Antonio,"565, Woodcrest Drive, Oak Park, San Antonio, B...",29.5031,-98.4477
3,3,Houston,"19317, Rio Villa Drive, Highlands, Harris Coun...",29.8294,-95.0815
4,4,Bryan,"775, Inwood Drive, Bryan, Brazos County, Texas...",30.6373,-96.3378
5,5,Fort Worth,"2723, East Carter Avenue, Fort Worth, Tarrant ...",32.7471,-97.2864

In [18]:
# # Potsdamer Platz, Mitte, Berlin, 10117, Deutschland, European Union
# print((location.latitude, location.longitude))
# (52.5094982, 13.3765983)

In [10]:
# print(
# df.to_csv(r'../ShareEconomyEnlightenment/Resources/Airbnb_Texas_Rentals_address_FULL.csv')
df = pd.read_csv('../ShareEconomyEnlightenment/Resources/Airbnb_Texas_Rentals_address_FULL.csv')
df.head(2)

,Unnamed: 0,id,City,Address,lat,lon
0,1,4,Bryan,"775, Inwood Drive, Bryan, Brazos County, Texas...",30.637304,-96.337846
1,2,6,Conroe,"9163, Red Stag, Montgomery County, Texas, 7730...",30.370455,-95.385319

In [ ]:
# for index, row in dfLL.iterrows():
#      print(index, row)

In [ ]:
# # settings = {"units": "metric", "appid": api_key}
# # cityWeather = pd.DataFrame()
# # loop the cities and pull the response
# # put the returned data into a dataframe
# # vList =[['name','temp','wind','clouds','humidity','lat']]
# listAddress = [['id','City','Address','lat','lon']]

# for index, row in dfLL.head(n=3).iterrows():
# # for city in cities:
#     try:
#         latLon = str(row.latitude) +',' + str(row.longitude)
#         location = geolocator.reverse(latLon)
# #     print(location)
#         addList = [row.id, row.city, location[0], row.latitude, row.longitude]
# #         print (addList)
#         listAddress.append(addList)
#     except:
# #         print("An exception occurred for " + row.city)
# # listAddress

In [ ]:
# df = pd.DataFrame(listAddress,columns=['id','City','Address', 'lat','lon'])
# df = df[df.City != 'City']
# df

In [19]:
# for x = 1 to 50
#     print(x)

In [20]:
# a = ['foo', 'bar', 'baz']
# for i to a:
#     print(i)